@charset 'utf-8';
@import url('notosanskr/NotoSansKR.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Playfair Display', serif; */
@font-face{
    font-family: "League Spartan";
    src: url("LeagueSpartan-Bold.otf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

li {
    list-style: none;
}

html {
    font-size: 10px;
    
}
body{
    overflow-x: hidden
}

html {
    overflow: auto;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 8px;
}

/* 스크롤바의 width */
::-webkit-scrollbar-track {
    background-color: #000;
}

/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #babcfe, #4169e1);
}

/* 스크롤바 색 */
::-webkit-scrollbar-button {
    display: none;
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    width: 1300px;
    margin: 0 auto;
}
.bg-right{
    position: fixed;
    left: 1600px;
    top: 60px;
    display: block;
    writing-mode: vertical-lr;
    letter-spacing: 5px;
    opacity: 0.3;
    z-index: -1;

    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff00ff 67%,
        #ff1361 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}
.bgline-1{
    position: absolute;
    left: 333px;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #44107a;
    opacity: 0.1;
}
.bgline-2{
    position: absolute;
    left: 642px;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #44107a;
    opacity: 0.1;
}
.bgline-3{
    position: absolute;
    left: 951px;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #44107a;
    opacity: 0.1;
}
.bgline-4{
    position: absolute;
    left: 1260px;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #44107a;
    opacity: 0.1;
}
.bgline-5{
    position: absolute;
    left: 1569px;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #44107a;
    opacity: 0.1;
}
.wrap {
    position: relative;
    display: block;
}

body {
    font-size: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
}
.header{
    position: relative;
    display: block;
    width: 100%;
    height: 130px;
    z-index: 999;
}
.header .container{}

.logo{
    position: absolute;
    left: 10px;
    top: 0px;
    display: block;
    width: 130px;
    height: 130px;
    background: url('../images/logo.png') no-repeat;
    background-size: contain;
}
.menu{
    position: relative;
    display: block;
}
.mainmenu{
    position: absolute;
    right: 50px;
    top: 0;
    display: block;
}
.mainmenu li{
    position: relative;
    display: block;
    float: left;
    padding: 60px 20px;
}
.mainmenu li a{
    font-family: 'League Spartan', arial;
    font-weight: bold;
    letter-spacing: 4px;
}
.mainmenu li:hover a {
    color: #4169e1;
}
.main{
    position: relative;
    display: block;
}
.visual{
    position: relative;
    display: block;
    height: 930px;
}
.visual .container{
    height: 100%;
}
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
}
.waviy span {
    position: relative;
    display: inline-block;
    font-family: 'League Spartan', arial;
    padding-top: 330px;
    margin-bottom: 25px;
    letter-spacing: -3px;
    color: #4169e1;
    font-size: 10px;
    opacity: .3;
    animation: waviy 1.5s infinite;
    animation-delay: calc(.1s * var(--i));
}
@keyframes waviy {
    0%,40%,100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-10px)
    }
}

.visual h1{
    position: relative;
    display: block;
    font-family: 'League Spartan', arial;
    font-weight: bold;
    font-size: 82px;
}
.word{
    position: relative;
    display: block;
    font-family: 'League Spartan', arial;
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
    color: #8f8f8f;
    display: block;
    width: 350px;
}
.visual-img{
    position: absolute;
    right: 50px;
    top: 5%;
    display: block;
    width: 1000px;
    height: 600px;
    background: url('../images/main.jpg') no-repeat center;
    background-size: cover;
    box-shadow: -10px 10px 30px rgb(150, 150, 150);
}
.blank{
    position: relative;
    display: block;
}
.line{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateY(-50%);
    display: block;
    width: 2px;
    height: 100px;
    background-color: #4169e17e;
}
.aboutme{
    position: relative;
    display: block;
    height: 850px;
    margin: 0 0 100px 0;
}
.aboutme > .container{
    height: 100%;
    padding-top: 80px;
    width: 1400px;
}
.aboutme-top{
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
}
.mbti-1{
    position: relative;
    display: block;
    width: 720px;
    height: 400px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 30px rgb(200, 200, 200);
    border: 4px solid transparent;
    background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #c0d4f5, #9ddafa, #8093e8,#1ca1ef);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 20px 0 0 0;
    background-color: #000;
}
.mbti-1 span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
}
.mbti_i{
    position: absolute;
    left: 70px;
    top: 50px;
    display: block;
    width: 150px;
    height: 150px;
}
.mbti_s{
    position: absolute;
    left: 290px;
    top: 70px;
    display: block;
    width: 140px;
    height: 140px;
}
.mbti_t{
    position: absolute;
    left: 170px;
    top: 210px;
    display: block;
    width: 120px;
    height: 120px;
}
.mbti_j{
    position: absolute;
    left: 420px;
    top: 180px;
    display: block;
    width: 160px;
    height: 160px;
}
.education{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 674px;
    height: 265px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 30px rgb(200, 200, 200);
    border: 4px solid transparent;
    background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #1ca1ef, #1477c6, #000d49);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 0 0px 0px 0;
    background-color: #000;
}
.education > span{
    position: relative;
    left: 30px;
    top: 30px;
    display: block;

    letter-spacing: 4px;
    font-family: 'League Spartan', arial;
    color: #444;
    font-size: 20px;
}
.education > span::before{
    content: '';
    position: absolute;
    left: 8px;
    top: 35%;
    display: block;
    width: 150px;
    height: 17px;
    background-color: #9ddafa;
    z-index: -1;
}
.education p{
    position: absolute;
    left: 30px;
    top: 80px;
    display: block;

    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Noto Sans KR';
    line-height: 27px;
    color: #000;
}
.aboutme-bottom{
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    margin-top: -150px;
}
.skill{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 780px;
    height: 400px;
    box-shadow: 0px 0px 30px rgb(200, 200, 200);
    border: 4px solid transparent;
    background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #1ca1ef, #1477c6, #000d49);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 20px 20px 20px 0;
}
.skill-title{
    position: absolute;
    left: 30px;
    top: 30px;
    display: block;
    font-family: 'League Spartan', arial;
    letter-spacing: 4px;
    line-height: 20px;
    font-size: 23px;
    color: #444;
}
.skill-title::after{
    content: '';
    position: absolute;
    left: 8px;
    top: 35%;
    display: block;
    width: 80px;
    height: 19px;
    background-color: #9ddafa;
    z-index: -1;
}
.skill .container{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: 650px;
    height: 280px;
    margin-top: 90px;
}
.skill .container .item{
    flex: 1 1 25%;
}
#html,#css,#js,#jquery,#git,#scss,#bs,#vue{
    margin-top: 105px;
    margin-left: 30px;
    width: 100px;
    height: 5px;
    position: relative;
}
.item:nth-child(1){
    position: relative;
    display: block;
    height: 90px;
    background: url('../images/skills_1.png') no-repeat center;
    background-size: contain;
}
.item:nth-child(2){
    position: relative;
    display: block;
    height: 90px;
    background: url('../images/skills_2.png') no-repeat center;
    background-size: contain;
}
.item:nth-child(3){
    position: relative;
    display: block;
    height: 90px;
    background: url('../images/skills_3.png') no-repeat center;
    background-size: contain;
}
.item:nth-child(4){
    position: relative;
    display: block;
    height: 90px;
    background: url('../images/skills_4.png') no-repeat center;
    background-size: contain;
}
.item:nth-child(5){
    position: relative;
    display: block;
    height: 90px;
    background: url('../images/skills_5.png') no-repeat center;
    background-size: contain;
}
.item:nth-child(6){
    position: relative;
    display: block;
    height: 90px;
    background: url('../images/skills_6.png') no-repeat center;
    background-size: contain;
}
.item:nth-child(7){
    position: relative;
    display: block;
    height: 90px;
    background: url('../images/skills_7.png') no-repeat center;
    background-size: contain;
}
.item:nth-child(8){
    position: relative;
    display: block;
    height: 90px;
    background: url('../images/skills_8.png') no-repeat center;
    background-size: contain;
}
.mbti-text{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 655px;
    height: 245px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 30px rgb(200, 200, 200);
    border: 4px solid transparent;
    background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, #c0d4f5, #9ddafa, #8093e8, #1ca1ef);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 0px 0px 20px 0px;
    background-color: #000;
}
.mbti-text > span{
    position: absolute;
    left: 30px;
    top: 30px;
    display: block;

    letter-spacing: 4px;
    font-family: 'League Spartan', arial;
    color: #444;
    font-size: 20px;
}

.mbti-text > span::before{
    content: '';
    position: absolute;
    left: 8px;
    top: 35%;
    display: block;
    width: 150px;
    height: 17px;
    background-color: #9ddafa;
    z-index: -1;
}
.ISTJ-txt-1{
    position: absolute;
    left: 30px;
    top: 80px;
    display: block;

    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Noto Sans KR';
    line-height: 27px;
    color: #000;
}
.ISTJ-txt-1 > i{
    content: '';
    position: absolute;
    left: 45px;
    top: 15px;
    display: block;
    width: 150px;
    height: 10px;
    background-color: #c0d4f5;
    z-index: -1;
}
.ISTJ-txt-2{
    position: absolute;
    left: 30px;
    top: 107px;
    display: block;

    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Noto Sans KR';
    line-height: 27px;
    color: #000;
}
.ISTJ-txt-2 > i{
    content: '';
    position: absolute;
    left: 30px;
    top: 15px;
    display: block;
    width: 190px;
    height: 10px;
    background-color: #c0d4f5;
    z-index: -1;
}
.ISTJ-txt-3{
    position: absolute;
    left: 30px;
    top: 134px;
    display: block;

    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Noto Sans KR';
    line-height: 27px;
    color: #000;
}
.ISTJ-txt-3 > i{
    content: '';
    position: absolute;
    left: 165px;
    top: 15px;
    display: block;
    width: 45px;
    height: 10px;
    background-color: #c0d4f5;
    z-index: -1;
}
.ISTJ-txt-4{
    position: absolute;
    left: 30px;
    top: 161px;
    display: block;

    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Noto Sans KR';
    line-height: 27px;
    color: #000;
}
.ISTJ-txt-4 > i{
    content: '';
    position: absolute;
    left: 197px;
    top: 15px;
    display: block;
    width: 186px;
    height: 10px;
    background-color: #c0d4f5;
    z-index: -1;
}
.ISTJ-txt-5{
    position: absolute;
    left: 30px;
    top: 188px;
    display: block;

    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Noto Sans KR';
    line-height: 27px;
    color: #000;
}
.ISTJ-txt span::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 10px;
    display: block;
    width: 30px;
    height: 10px;
    background-color: #9ddafa;
    z-index: -1;
}
.clonecoding{
    position: relative;
    display: block;   
    width: 100%;
    height: 1100px;
    padding-top: 150px;
    background: rgb(192,212,245);
    background: -moz-linear-gradient(left,  #ebf5ff 17.8%, #d4eafd 17.8%, #d4eafd 66.8%, #ebf5ff 66.8%);
    background: -webkit-linear-gradient(left,  #ebf5ff 17.8%,#d4eafd 17.8%,#d4eafd 66.8%,#ebf5ff 66.8%);
    background: linear-gradient(to right,  #ebf5ff 17.8%,#d4eafd 17.8%,#d4eafd 66.8%,#ebf5ff 66.8%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0d4f5', endColorstr='#8093e8',GradientType=1 );

}
.portfoilo-title{
    position: relative;
    display: block;
    font-family: 'League Spartan', arial;
    letter-spacing: 4px;
    line-height: 50px;
    font-size: 50px;
    color: #000;
    margin-left: 34%;
    margin-bottom: 150px;
}
.portfoilo-title::before{
    content: '';
    position: absolute;
    left: 160px;
    top: 70px;
    transform: translateX(-50%);
    display: block;
    width: 100px;
    height: 3px;
    background-color: #000;
    z-index: 20;
}
.clonecoding-title{
    position: absolute;
    right: 400px;
    top: 300px;
    display: block;
    font-family: 'Noto Sans KR';
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 500;
    margin-left: 21.5%;
    color: #000;
}
.clonecoding .container{
    width: 100%;
    height: 100%;
    margin-top: 10px
}
.cc-swiper{
    position: relative;
    display: block;
    width: 20%;
    float: left;
}
.sw-cc{
    position: relative;
    display: block;
    margin-left: 100px;
    margin-top: 70px;
    height: 500px;
}
.sw-img {
    position: relative;
    display: block;
    width: 180px;
    height: 60px;
    cursor: pointer;
}

/* .sw-slide-prev{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    z-index: 99;
}
.sw-slide-prev::after{
    content: '';
    position: relative;
    display: inline-block;
    transform: rotate(135deg);
    width: 25px;
    height: 25px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: transparent #bbb #bbb transparent;
    cursor: pointer;
}
.sw-slide-next{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    z-index: 99;
}
.sw-slide-next::after{
    content: '';
    position: relative;
    display: inline-block;
    transform: rotate(315deg);
    width: 25px;
    height: 25px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: transparent #bbb #bbb transparent;
    cursor: pointer;
} */
.cc-img-box{
    position: relative;
    display: block;
    width: 45%;
    height: 60%;
    float: left;
}
.cc-img-1,
.cc-img-2,
.cc-img-3,
.cc-img-4,
.cc-img-5,
.cc-img-6,
.cc-img-7{
    position: relative;
    visibility: hidden;
    width: 100%;
    height: 0%;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 20%);
    border-radius: 10px;
    opacity: 0;
    transition: all 1.0s;
}
.cc-img-1{
    background: url('../images/domino.png') no-repeat center;
    background-size: cover;
}
.cc-img-2{
    background: url('../images/STX.png') no-repeat center;
    background-size: cover;
}
.cc-img-3{
    background: url('../images/hansalim.png') no-repeat center;
    background-size: cover;
}
.cc-img-4{
    background: url('../images/pulmuone.png') no-repeat center;
    background-size: cover;
}
.cc-img-5{
    background: url('../images/klia.png') no-repeat center;
    background-size: cover;
}
.cc-img-6{
    background: url('../images/pnuh.png') no-repeat center;
    background-size: cover;
}
.cc-img-7{
    background: url('../images/sancheong.png') no-repeat center;
    background-size: cover;
}
.cc-img-active{
    opacity: 1;
    height: 100%;
    visibility: visible;
}
.cc-txt{
    position: relative;
    display: block;
    width: 30%;
    height: 200px;
    float: left;
    margin-left: 60px;
    margin-top: 20px;
}
.cc-text-box{
    position: relative;
    display: none;
    margin-top: 10px;
}
.cc-text-box-active{
    display: block;
}
.cc-text-box span{
    font-size: 24px;
    letter-spacing: 1px;
    font-family: 'Noto Sans KR';
    line-height: 34px;
    color: #000;
    font-weight: 600;
    margin-bottom: 20px;
}
.cc-text-box h3{
    font-size: 24px;
    letter-spacing: 1px;
    font-family: 'Noto Sans KR';
    line-height: 34px;
    color: #000;
    font-weight: 300;
    margin-bottom: 30px;
}
.cc-link {
    position: relative;
    display: block;
    color: #000;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    line-height: 50px;
    border: 1px solid #000;
    transition: background-color 0.3s;
    display: block;
    width: 150px;
    margin: 30px 5px 0 5px;
    float: left;
}
.cc-text-box a:nth-child(2){
    background-color: #000d49;
}
.cc-link:hover {
    background-color: #000d49;
    border: 1px solid #fff;
    color: #fff;
}


.vue{
    position: relative;
    display: block;
    height: 1200px;
    padding: 100px 0;
    background: #f5f5f5;

}
.vue > span{
    position: relative;
    display: block;
    font-family: 'League Spartan', arial;
    letter-spacing: 4px;
    line-height: 62px;
    color: #4169e1;
    text-align: center;
}
.vue-title{
    position: relative;
    display: block;
    font-family: 'League Spartan', arial;
    letter-spacing: 4px;
    line-height: 100px;
    font-size: 62px;
    text-align: center;
    margin-bottom: 100px;
    color: #000;
}
.life{
    position: relative;
    display: block;
    height: 1200px;
    padding: 100px 0;
}
.life .container{
    
}
.life-title{
    position: relative;
    display: block;
    font-family: 'League Spartan', arial;
    letter-spacing: 4px;
    line-height: 100px;
    font-size: 62px;
    text-align: center;
    margin-bottom: 70px;
    color: #000;
}
.life-img{
    position: relative;
    display: block;
}
.life-img li{
    position: relative;
    display: block;
    float: left;
    background-color: #000;
    margin: 10px;
}
.info{
    margin-bottom: 10px;
}
.img-box:hover img {
    opacity: 0.5;
}
.img-box:hover .img-box{ opacity: 1; }
.img-box:hover .info::before { width: 60%; }
.img-box:hover .info::after { width: 60%; }
.info h3{
    color:#fff; 
    font-weight:bold; 
    font-size:40px; 
    text-align:center;
}
.info::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    display: inline-block;
    transition: all 0.5s;
    left: 20%;
    top: 0%;
    width: 0%;
    height: 2px; 
}
.info::after {
    content: "";
    position: absolute;
    background: rgba(230, 230, 230, 0.7);
    display: inline-block;
    transition: all 0.5s;
    left: 20%;
    top: 90%;
    width: 0%;
    height: 2px; 
}
.img-box .info {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.img-box .info h3 {
    font-size: 24px;
    line-height: 40px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 3px;
}
.img-box:hover .info {
    opacity: 1;
}
.img-box img {
    background-size: contain;
    width: 400px;
    height: 400px;
}

.contact{
    position: relative;
    display: block;
    height: 800px;
    padding: 100px 0;
    
    background: url('../images/bg.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    z-index: 9;
}
.contact-left{
    position: relative;
    display: block;
    float: left;
}
.contact-title{
    position: relative;
    display: block;
    font-family: 'League Spartan', arial;
    letter-spacing: 4px;
    line-height: 100px;
    font-size: 62px;
    text-align: right;
    margin-bottom: 20px;
    color: #000;
}
.contact-img{
    position: relative;
    display: block;
    width: 850px;
    height: 500px;
    background: url('../images/contact_img.jpg') no-repeat center;
    background-size: cover;
}
.contact-right{
    position: relative;
    display: block;
    width: 50%;
    float: right;
    margin-top: 100px;
}
.contact-right span{
    position: absolute;
    left: 0;
    top: -50px;
    display: block;
    font-family: 'League Spartan', arial;
    letter-spacing: 4px;
    line-height: 50px;
    font-size: 12px;
    color: #999;
    opacity: .5;
}
.contact-box{
    position: relative;
    display: block;
    width: 600px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 60px;

    color:#333;
}
.contact-box-link{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #5da8ef;
}
.contact-box:nth-child(2) .contact-box-link{
    background-color: #292929;
}
.contact-box:nth-child(3) .contact-box-link{
    background-color: #efff5e;
}
.contact-box-link::before{
    content: '';
    position: relative;
    display: block;
    width: 40px;
    height: 50px;
    background: url('../images/arrow.png') no-repeat center;
    background-size: contain;
    margin-left: 5px;
}
.contact-box p{
    line-height: 50px;
    font-family: 'League Spartan', arial;
    letter-spacing: 7px;
    color: #444;
    margin-left: 30px;
}
.footer{
    position: relative;
    display: block;
    height: 300px;
    
    background: url('../images/bg.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;

    overflow: hidden;
}
.footer-logo{
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-30%);
    display: block;
    width: 100px;
    height: 100px;
    background: url('../images/logo.png') no-repeat;
    background-size: contain;
}
.footer-menu{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    display: block;
}
.footer-menu li{
    float: left;
    margin: 0 30px;
}
.footer-menu li:hover a {
    color: #4169e1;
}
.footer-menu li a{
    font-family: 'League Spartan', arial;
    font-weight: bold;
    letter-spacing: 4px;
}
.copyright{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    display: block;
    text-align: center;
}